@import './style/variables.scss';
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $black;
  background-color: $brown;
  min-height: 100vh;
}
body {
  margin: 0px;
  padding: 0px;
}
