@import './style/variables.scss';
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $black;
  background-color: $brown;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  #logo {
    padding-top: 18px;
    width:142px;
    display: flex;
    align-self: center;
    @media (max-width: $medium) {
      width:100px;
    }
    @media (max-width: $small) {
      width:80px;
    }
  }
}
body {
  margin: 0px;
  padding: 0px;
}
p {
  font-size:18px;
  font-weight: 600;
}
