@import "../../style/variables.scss";

.image-viewer {
  display:flex;
  flex-direction: column;
  .image-content {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    .image {
      margin: 42px 36px 0px 36px;
      max-width:50%;
      max-height: 600px;
    }
  }
  .arrow {
    color: $brown-light;
    cursor: pointer;
    font-size: 64px;
  }
  .arrow:hover {
    color: $brown-dark;
    transition-duration: 0.2s;
  }
  .inverse {
    transform: rotate(0.5turn);
  }
  .hearth {
    color: $brown-light;
    cursor: pointer;
    font-size: 64px;
  }
  .hearth:hover {
    color: $red;
    transition-duration: 0.4s;
  }
}