@import "../../style/variables.scss";

.image-viewer {
  display:flex;
  flex-direction: column;
  .image-content {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    @media (max-width: $medium) {
      height: 400px;
    }
    // @media (max-width: $small) {
    //   height: 300px;
    // }
    .image-p {
      display:flex;
      margin: 20px 36px 0px 36px;
      min-width:35%;
      max-width:35%;
      min-height: 500px;
      max-height: 500px;
      @media (max-width: $medium) {
        min-width:50%;
        max-width:50%;
        min-height: 400px;
        max-height: 400px;
      }
      @media (max-width: $small) {
        max-width:65%;
        min-height: 280px;
        max-height: 280px;
      }
    }
    .image {
      max-width: 100%;
      max-height: 420px;
      margin:auto;
      @media (max-width: $medium) {
        max-height: 340px;
      }
      // @media (max-width: $small) {
      //   max-height: 280px;
      // }

    }
    .arrow-parent {
      width: 64px;
      padding-top: 26px;
    }
    .arrow {
      color: $brown-light;
      cursor: pointer;
      font-size: 64px;
    }
    .inverse {
      transform: rotate(0.5turn) !important;
    }
    .arrow-left {
      width: 60px;
    }
  }
  .arrow:hover {
    color: $brown-dark;
    transition-duration: 0.2s;
  }
  .hearth {
    color: $brown-light;
    cursor: pointer;
    font-size: 64px;
  }
  .hearth:hover {
    color: $red;
    transition-duration: 0.4s;
  }
  p {
    margin: 2px;
  }
}